@charset "UTF-8";

#mainsection{
	margin: 0 auto;
	padding: 50px 100px 0 100px;
	max-width: 1200px;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;     /* 横方向中央 */
}

.spinner {
  border: 4px solid #f3f3f3; /* 薄いグレー */
  border-top: 4px solid #3498db; /* 青色 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
	margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cartTable {
	width: 100%;
	align-items: center;
}

.cartTd {
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.totalPrice {
	margin-top: 30px;
	padding: 0 80px;
	text-align: right;
}

.paymentTotal {
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 10px;
}

.h2Title {
	margin-top: 50px;
}

.formRow {
	display: flex;
	align-items: center;
	margin-top: 10px;
	justify-content: center;
}

.formLabel {
	width: 500px; 
	text-align: right;
	padding-right: 10px;
	flex-grow: 1;
}

.value {
	width: 500px;
	text-align: left;
	flex-grow: 1;
}

.payment {
	width: auto;
	margin-top: 15px;
}

.buttomButton {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

.backCheckout {
	padding: 12px;
	text-decoration: underline;
}

.confirmButton {
	width: 180px;
	padding: 12px;
	background-color:  #3498db;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.confirmButton:hover {
	background-color:#2980b9;
}