@charset "UTF-8";

#maincontent {
  margin-bottom: 100px;
  text-align: center;
}

#mainsection {
  margin: 0 auto;
  padding: 50px 100px 0 100px;
  max-width: 1200px;
  font-size: 1.2rem;
}

.successMessage {
  color: #2ecc71;
  font-size: 1em;
  font-weight: bold;
}

.formRow {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
}

.formRow label {
  width: 200px;
  text-align: left;
  font-weight: bold;
  color: #333;
  align-items: center;
}

.form {
  flex: 0.7;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #3498db;
  outline: none;
}

.error {
  display: flex;
  justify-content: space-around;
}

.errorMessage {
  color: #e74c3c;
  font-size: 0.9em;
  text-align: center;
}

.loginButton {
  width: 180px;
  padding: 12px;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #218838;
}

.signup {
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.signup:hover {
  text-decoration: underline;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;     /* 横方向中央 */
}

.spinner {
  border: 4px solid #f3f3f3; /* 薄いグレー */
  border-top: 4px solid #3498db; /* 青色 */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}