@charset "UTF-8";

#mainsection{
	margin: 0 auto;
	padding: 50px 100px 0 100px;
	max-width: 1200px;
	font-size: 1.2rem;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;     /* 横方向中央 */
}

.spinner {
  border: 4px solid #f3f3f3; /* 薄いグレー */
  border-top: 4px solid #3498db; /* 青色 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
	margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.successMessage {
	color: #2ecc71;
	font-size: 1em;
	font-weight: bold;
}

.errorMessage {
	color: #e74c3c;
	font-size: 0.9em;
	margin-top: 4px;
}

.formRow {
	display: flex;
	align-items: center;
	margin-top: 15px;
	justify-content: space-around;
}

.formRow label {
	width: 230px;
	text-align: left;
	font-weight: bold;
	color: #333;
	align-items: center;
}

.input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	transition: border-color 0.3s ease;
  flex: 0.8;
}

.input:focus {
	border-color: #3498db;
	outline: none;
}

.changeButton {
	width: 180px;
	padding: 12px;
	margin-top: 30px;
	background-color: #ff964b;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.changeButton:hover {
	background-color: #f0733a;
}

.backMypage {
	margin-top: 20px;
}

.back:hover {
	text-decoration: underline;
}